/* Button style for chat button */
.test-btn {
  background-color: white;
}

.test-btn:hover {
  background-color: #dae4f5;
}

.test-btn a:visited {
  color: #26374a !important;
}


/* Chat button bar styles - not used yet */
.chat-button-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  z-index: 1000;
  padding: 1rem;
}

.chat-button-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-button-bar .btn {
  display: flex;
  align-items: center;
}

.chat-button-bar .btn img {
  margin-right: 0.5rem;
}

.chat-button-bar .close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
}

/* Chat panel styles */

.input-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 40px;
}

#chat-input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 10px;
  border-radius: 25px;
}

#send-button {
  background-color: #26374a;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#send-button:hover {
  background-color: #1d2c3b;
}

#send-button i {
  font-size: 24px;
}


.history-chat-input {
  border: 2px solid #5c5858;
  border-radius: 10px;
  background-color: #e1dcdc;
  outline: none;
  padding: 10px;
  color: black;
  /* Ensure the text color is black */
}

.history-citation {
  background-color: #fff;
  border: 2px solid #9c0909;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

