@charset "utf-8";
/* CSS Document */

.well {
	border-radius: 0px;
}
.btn-primary a {
	color: #fff;
}
body {
	background-image: url("#");
	background-repeat: no-repeat;
	overflow-x: hidden;
	width: auto;
}
.blue-bg {
	background-color: aliceblue;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
.white-bg {
	background-color: #fff;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
